@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,600,800&display=swap&subset=cyrillic');

$yellow: #feb101;
$blue: #05809D;
$text: #333333;

html {
	font-size: 10px;
	height: 100%;
}
body {
	background-color: $yellow;
	color: #fff;
	font: 400 1.5rem/1.5 'Montserrat Alternates', sans-serif;
	min-height: 100%;

	* {
		box-sizing: border-box;
	}
}

h1 {
	font-weight: 600;
	font-size: 8rem;
	line-height: 1;
	margin: 0;
	display: block;

	@media (max-width: 1400px) {
		font-size: 5.7vw;
	}
}

h2 {
	font-size: 2rem;
	font-weight: 400;
	margin: 2rem 0 0;
	line-height: 1.4;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin-bottom: 1rem;
		line-height: 1.2;

		&::before {
			content: '\2022';
			font-weight: 800;
			color: $yellow;
			display: inline-block;
			margin-right: 1rem;
		}
	}
}

footer {
	padding: 4rem 0;
	display: flex;
	justify-content: space-around;
	align-items: center;

	@media (max-width: 700px) {
		justify-content: space-between;
	}
}


.donate {
	text-decoration: none;
	color: $text;
	font-size: 1.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20rem;
	background-color: #7247D6;
	color: #fff;
	line-height: 1;
	height: 3rem;
	font-weight: 400;
	border-radius: 1.5rem;
	box-shadow: inset 0 0 1rem rgba(0,0,0,.2);
	position: absolute;
	right: 0;
	top: -5rem;
	transition: all .3s;

	&:focus {
		outline: none;
	}
	&:hover {
		box-shadow: inset 0 0 2rem rgba(0,0,0,.4);
	}
}

.nowrap {
	white-space: nowrap;
}

.fullscreen {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-height: 100%;
	padding: 8rem 0;
}

.content {
	width: 110rem;
	max-width: 80%;
	margin: auto;
	position: relative;
}

.init {
	background-color: #fff;
	color: $text;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 15rem 5rem;
	box-shadow: 0 0 3rem 0 rgba(0,0,0,.2);

	.button {
		position: absolute;
		left: 50%;
		bottom: 4rem;
		margin-left: -1.5rem;
	}
}

.socials {
	display: flex;
	justify-content: center;
	align-items: stretch;
	margin-top: 5rem;

	&__item {
		width: 3rem;
		height: 3rem;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		margin: 0 1rem;

		&.instagram {
			background-image: url(../images/instagram.svg);
			
			&:hover {
				background-image: url(../images/instagram-hover.svg);
			}
		}
		&.github {
			background-image: url(../images/github.png);
			
			&:hover {
				background-image: url(../images/github-hover.png);
			}
		}
	}
}

.button {
	background: none;
	border: none;
	display: block;
	cursor: pointer;

	&:focus {
		outline: none;
	}
	
	&.next {
		width: 3rem;
		height: 3rem;
		background: center bottom url(../images/down-arrow.svg) no-repeat;
		background-size: contain;
		transition: transform .3s;

		&:hover {
			transform: translateY(.5rem);
		}
	}
}

.section {
	margin: 4rem auto 10rem;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	box-shadow: 0 0 3rem 0 rgba(0,0,0,.2);

	&.even {
		.section__title {
			order: 1;
		}
	}

	&__content {
		flex: 0 0 50%;
		background-color: #fff;
		color: $text;
		padding: 6rem 4rem;
	}
	&__title {
		flex: 1 1 50%;
		background-color: $blue;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 3rem;
		line-height: 1;
		font-weight: 800;
		margin: 0;
		padding: 4rem;
		text-align: center;
	}
}

.copyright {
	margin: 0 2rem 0 0;

	a {
		color: #fff;
		text-decoration: none;
		font-weight: 600;

		&:focus {
			outline: none;
		}
	}
}

.feedback {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&__title {
		margin-right: 1rem;
	}
	&__email {
		font-weight: 600;
	}

	@media (max-width: 1024px) {
		display: block;
	}
}

.copy {
	width: 2.5rem;
	height: 2rem;
	border: none;
	display: inline-block;
	vertical-align: middle;
	background: center url(../images/copy.svg) no-repeat;
	background-size: contain;
	cursor: pointer;
}

@media (max-width: 1100px) {
	h2 {
		font-size: 1.6rem;
	}
	.content {
		max-width: 90%;
	}
}

@media (max-width: 900px) {
	h2 {
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}

@media (max-width: 800px) {
	.section {
		display: block;
		margin: 0 auto 5rem;

		&__title {
			padding: 7rem 3rem;
		}
	}
}

@media (max-width: 640px) {
	h1 {
		font-size: 7vw;
	}
	h2 {
		max-width: 90%;
	}
	.init {
		padding: 10rem 2rem;
	}
}

@media (max-width: 550px) {
	footer {
		display: block;
		text-align: center;
	}
	.copyright {
		margin: 0 0 4rem;
	}
}

@media (max-width: 460px) {
	h2 {
		font-size: 1.4rem;
		margin-top: 1rem;
	}
	.socials {
		margin-top: 3rem;
	}
	.init {
		padding-bottom: 10rem;

		.button {
			bottom: 3rem;
		}
	}
	.section {
		&__content {
			padding: 4rem 3rem;
			font-size: 1.4rem;
		}
		&__title {
			padding: 4rem;
			font-size: 2.5rem;
		}
	}
}