@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,600,800&display=swap&subset=cyrillic');

html {
	font-size: 10px;
}
body {
	background-color: #feb101;
	color: #fff;
	font: 400 1.6rem/1.4 'Montserrat Alternates', sans-serif;
}