@import 'app';

.back {
	color: #aaa;
	position: absolute;
	left: 4rem;
	top: 3rem;
}

.download {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $violet;
	font-size: 1.2rem;
	line-height: 1;
	height: 2rem;
	text-decoration: none;
	padding: 0 2rem;
	border-radius: 1rem;
	box-shadow: inset 0 0 .3rem 0 rgba(0,0,0,.2);
	margin-bottom: 3rem;
	transition: background-color .3s;

	&:hover {
		background-color: $yellow;
	}
}